<div id="signup" class="container-fluid section dark graybg">
	<div class="container">
		<div class="row">
				<% if false %><p class="text-center">We are a design agency that specializes in prototype vehicles, leased to manufacturers.</p>
				<hr style="border: 1px solid rgb(112,193,255); margin: 50px 0;" /><% end %>
				<div id="footer" class="">
					<%= link_to "Home", root_path, class: "button", 'data-no-turbolink' => true %> · 
					<%= link_to "Company & Contacts", company_path, class: "button" %> · 
					<%= link_to "Reserve", reserve_path, class: "button" %> · 
					<% if false %><%= link_to "Press", press_path, class: "button" %> · <% end %>
					<%= link_to "Investors", investors_path, class: "button" %>
					<% if false %> · 
					<a href="//www.iubenda.com/privacy-policy/7790939" class="iubenda-nostyle no-brand iubenda-embed button" title="Privacy Policy">Privacy Policy</a> · 
					<a href="https://www.iubenda.com/privacy-policy/7790939/cookie-policy" class="iubenda-nostyle no-brand iubenda-embed button" title="Cookie Policy">Cookie Policy</a>  · <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
					<a href="#" data-toggle="modal" data-target="#TermsAndConditions" class="button">Terms and Conditions</a>
					<% end %>
					<br />
					<p>&copy; 2020 Trevor Labs,  all rights reserved.</p>
				</div>
			</div>
	</div>
</div>